/* Reset básico e definição de box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%; /* Garante que o contêiner ocupe toda a largura da tela */
}

.App-header {
  width: 100%;
  max-width: 95vw; /* Ajustado para 95% da largura da viewport */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  font-size: 26px;
  margin-bottom: 20px;
}

.link-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.link-button {
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  padding: 12px 25px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.link-button:hover {
  background-color: #0056b3;
}

input[type="text"] {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }
}

.message {
  margin-top: 20px;
  color: red;
}
