/* react-qr-reader\src\App.css */

/* Reset de estilos */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Configuração global */
html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}
